 * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
    .cabecera {
      width: 100%;
      padding: 30px;
    }

     .cabecera h1  {
      color: #175f5c;
      font-size: 80px;
    }

    .cabecera strong {
      font-size: 40px;
    }
    .cont1 {
      background-color: #F5EEF5;
    }
    .cont2 {
      background-color: #faf5f3;
    }
    .cont3 {
      background-color: #f2f9f8;
    }
    .contenedor {
      background-color: #F5EEF5;
      padding: 40px 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .tit1{
      padding: 40px 20px;
      font-size: 60px;
    }

    .tit2{
      color: #746c6c;
      padding: 40px 20px;
      font-size: 80px;
    }

    .tit3{
      background-color: #F5EEF5;
      padding: 40px 20px;
      font-size: 55px;
    }
    .textos {
      width: 50%;
    
    }

    .imagenes{
      width: 50%;
    }

  img{
    width: 100%;
    padding: 20px;
  }

    .piecontenedor {
      background-color: #000000;
      padding: 30px 20px;
      color: white;
      display: flex;
      flex-wrap: wrap;
      font-size: 30px;
      width: 100%;
    }

    .titpie {
      display: block;
        width: 100%;
        padding: 20px;
    }

    .pie {
      flex: 1;
      flex-wrap: wrap;  
      padding: 30px;
    }

@media (max-width: 796px) {
  .textos, .imagenes {
    width: 100%;
    align-items: center;
    font-size: 21px;
  }
}