 * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
 }
    .cabecera {
      width: 100%;
      padding: 30px;
    }

     .cabecera h1  {
      color: #175f5c;
      font-size: 80px;
    }

    .cabecera strong {
      font-size: 40px;
    }
    .contenedor {
      background-color: #F5EEF5;
      padding: 40px 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    
    }

    .tit1{
      padding: 40px 20px;
      font-size: 50px;
    }

    .tit2{
      color: #746c6c;
      padding: 40px 20px;
      font-size: 60px;
    }

    .tit3{
      background-color: #F5EEF5;
      padding: 40px 20px;
      font-size: 45px;
    }
    .textos {
      width: 50%;
    
    }

    .imagenes{
      width: 50%;
     
    }

  img{

    width: 75%;
  }
    .piecontenedor {
      background-color: #000000;
      padding: 30px 20px;
      color: white;
      display: flex;
      flex-wrap: wrap;
      font-size: 30px;
    }

    .pie {
      flex: 1;
    }
